# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage (from Jest)
coverage/
__temp

# Node modules
node_modules/
package-lock.json

# Mac OS
.DS_Store

# Intellij Configuration Files
.idea/